h1 {
    font-weight: bold;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
th, td {
    border: 1px solid black;
}
button {
    margin-top: 10px;
}
form{
  max-width: 80%;
  margin: 0 auto;  
}